[submodule "Depth-Anything-V2"]
	path = Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "alltracker"]
	path = alltracker
	url = https://github.com/aharley/alltracker
